<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /imedil-customer/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /imedil-customer/index.html [L]
</IfModule>